[options]
{% if admin_passwd is defined %}
admin_passwd = {{ admin_passwd }}
{% endif %}
{% if odoo_disable_database_manager %}
disable_database_manager = True
{% endif %}
{% if db_name is defined %}
db_name = {{ db_name }}
{% endif %}
{% if db_filter is defined %}
db_filter = {{ db_filter }}
{% endif %}
{% if db_prefix is defined %}
db_prefix = {{ db_prefix }}
{% endif %}
{% if db_user %}
db_user = {{ db_user }}
{% endif %}
{% if db_password %}
db_password = {{ db_password }}
{% endif %}
{% if db_host %}
db_host = {{ db_host }}
{% endif %}
{% if not odoo_list_db %}
list_db = False
{% endif %}
log_handler = [':INFO']
log_level = info
logfile = /home/odoo/log/odoo-cron.log
logrotate = True
syslog = True
longpolling_port = 10072
max_cron_threads = {{ odoo_cron_threads }}
{% if odoo_proxy_mode %}
proxy_mode = True
{% endif %}
{% if odoo_db_template is defined %}
db_template = {{ odoo_db_template }}
{% endif %}
workers = 0
xmlrpc = True
xmlrpc_port = 10069
xmlrpcs = False
data_dir = /home/odoo